* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.section-1 {
  display: flex;
  background-color: #1f2937;
  flex-flow: column nowrap;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.logo {
  flex: 2 0 0;
  margin-left: 300px;
  padding: 10px;
}

.logo > h2 {
  font-size: 24px;
  color: #f9faf8;
}

.icons {
  flex: auto;
  display: flex;
  gap: 25px;
  padding: 10px;
  margin-left: 125px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
}

img {
  border-radius: 40px;
}

.app-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 10px;
}

.app-intro > h1 {
  color: #f9faf8;
  font-size: 48px;
}

.app-intro > p {
  text-align: center;
  font-size: 18px;
  color: #e5e7eb;
}

.btn {
  padding: 16px;
}

.btn > button {
  border: none;
  font-size: 16px;
  color: #e5e7eb;
  padding: 10px 16px;
  background-color: #3882f6;
  border-radius: 10px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;
  padding: 40px;
}

.ft {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ft > p {
  font-size: 18px;
  color: #1b1d206e;
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
  background-color: #e5e7eb;
}

.section-3 > p {
  flex: auto;
  font-size: 28px;
  color: #505358;
  font-style: italic;
  font-weight: lighter;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  padding: 2em;
  background-color: #3882f6;
  border-radius: 20px;
  border: none;
}

.newsletter-intro {
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.news-title {
  font-size: 20px;
}

.news-p {
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
}

.sign-up-btn > button {
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  border: 2px solid #e5e7eb;
  color: #e5e7eb;
  background-color: #3882f6;
}

.footer {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 2em;
}

/* Responsive Design (FOR MOBILIES) */
@media (max-width: 768px) {
  /* navbar */
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
  }

  .logo {
    margin-left: 0;
  }

  .icons {
    margin-left: 0;
    justify-content: center;
    width: 100%;
  }

  /* Hero */
  .hero {
    flex-direction: column;
  }
  .app-intro > h1 {
    font-size: 32px;
  }

  .app-intro > p {
    font-size: 16px;
  }

  /* Features */
  .features {
    flex-direction: column;
    gap: 40px;
  }

  .title {
    padding-top: 10px;
    font-size: 30px;
  }

  /* Quote section */

  .section-3 {
    padding: 3em 1.5em;
  }

  .section-3 > p {
    font-size: 20px;
  }

  .box {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .news-p {
    text-align: center;
  }
}

/* Key to myself - when editing for mobile , recomended use flex-direction of column and reletive units like rem , em , % */
